<section class="authentification d-flex-center">
    <div class="container">
        <div class="authentification-content shadow">
            <section class="auth-section d-none authentification-form">
            </section>
            <section class="auth-section authentification-form">
                <div class="app-logo">
                    <i class="icon-key"></i>
                </div>
                <div class="block-text">
                    <h2> Forgot Password! </h2>
                    <p>
                        No worries, we'll send you rest instructions in this mail,
                    </p>
                </div>
                <form class="auth-form" [formGroup]="Validators" (ngSubmit)="ngOnSubmit()">
                    <div class="input-floating">
                        <input type="text" formControlName="email" required/>
                        <span> E-mail </span>
                        <i class="icon-email"></i>
                    </div>
                    <p>
                        <app-error *ngIf="error" message="{{ message }}"></app-error>
                    </p>
                    <button class="btn">
                        Reset Password
                    </button>
                </form>
                <div class="block-text">
                    <div class="d-flex" routerLink="/auth/login">
                        <i class="icon icon-arrow-left text-primary"></i>
                        <a class="link text-primary"> Back to log in </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>