<section class="alert-components">
    <div class="alert alert-success shadow">
        <div class="alert-content">
            <div class="alert-icon">
                <i class="icon-success"></i>
            </div>
            <div class="alert-description">
                <div class="alert-title"> Success </div>
                <div class="alert-text-content">
                    Lorem ipsum dolor sit amet. Lorem, ipsum
                </div>
            </div>
        </div>
        <div class="alert-close">
            <i class="icon-close"></i>
        </div>
    </div>
    <div class="alert alert-danger shadow">
        <div class="alert-content">
            <div class="alert-icon">
                <i class="icon-error"></i>
            </div>
            <div class="alert-description">
                <div class="alert-title"> Error </div>
                <div class="alert-text-content">
                    Lorem ipsum dolor sit amet. Lorem, ipsum
                </div>
            </div>
        </div>
        <div class="alert-close">
            <i class="icon-close"></i>
        </div>
    </div>
    <div class="alert alert-info shadow">
        <div class="alert-content">
            <div class="alert-icon">
                <i class="icon-info"></i>
            </div>
            <div class="alert-description">
                <div class="alert-title"> Information </div>
                <div class="alert-text-content">
                    Lorem ipsum dolor sit amet. Lorem, ipsum
                </div>
            </div>
        </div>
        <div class="alert-close">
            <i class="icon-close"></i>
        </div>
    </div>
    <div class="alert alert-warning shadow">
        <div class="alert-content">
            <div class="alert-icon">
                <i class="icon-warning"></i>
            </div>
            <div class="alert-description">
                <div class="alert-title"> Warning </div>
                <div class="alert-text-content">
                    Lorem ipsum dolor sit amet. Lorem, ipsum
                </div>
            </div>
        </div>
        <div class="alert-close">
            <i class="icon-close"></i>
        </div>
    </div>
</section>