<mat-card>
    <mat-card-header style="display: flex;align-items: center;justify-content: center;"> 
        <h2> User Update : </h2>    
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="registerForm" (ngSubmit)="Update()">
            <div>
                <mat-form-field class="example-full-width"  style="width: 100%;">
                    <mat-label> Role </mat-label>
                    <mat-select formControlName="role">
                        <mat-option *ngFor="let item of roles" [value]="item.code">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            
            <div>
                <mat-checkbox formControlName="isActive" class="example-margin">Active Acocount</mat-checkbox>
            </div>

            <div  style="width: 100%; margin-top: 20px;">
                <button mat-flat-button color="primary"> Update </button>
                &nbsp;
                <button mat-flat-button mat-dialog-close color="accent"> Close </button>
            </div>
        </form>        
    </mat-card-content>
</mat-card>
