<section class="users-content">
    <div class="section-header">
      <h1> Manage Orders </h1>
    </div>
    <br>
    <div>
      <div class="table-responsive">
        <table class="table shadow">
            <thead>
              <tr>
                <th>#</th>
                <th>date</th>
                <th>user key</th>
                <th>N°Article</th>
                <th>Article</th>
                <th>action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of Orders">
                <td> {{ item.id }} </td>
                <td> {{ item.date }} </td>
                <td> {{ item.userKey }} </td>
                <td> {{ item.basket.length }} </td>
                <td>
                  <span *ngFor="let basket of item.basket">
                      {{ basket.product.title }} &nbsp; &nbsp;
                  </span>
                </td>
                <td class="table-action"> 
                  <i class="icon-eye color-primary" routerLink="show/order/{{item.id}}/{{item}}"></i>
                </td>
               </tr>
            </tbody>
        </table>
    </div>
    </div>
  </section>