<h1>create works!</h1>

<div *ngIf="alert" class="alert alert-success mb-4 mt-4" role="alert">
    Your data has been entered successfly!
</div>

<form [formGroup]="Restaurants" (ngSubmit)="onSubmit()">
    <div class="form-group mt-2">
      <label for="name">Name</label>
      <input type="text" class="form-control" placeholder="Enter name" formControlName="name">
    </div>
    
    <div class="form-group mt-2">
      <label for="adress">Adress</label>
      <input type="text" class="form-control" placeholder="Enter adress" formControlName="adress">
    </div>  

    <div class="form-group mt-2">
      <label for="email">Email</label>
      <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>