<section class="users-content">
    <div class="section-header">
      <h1> Manage Product </h1>
      <div>
        <!-- <button routerLink="create" class="btn btn-icon"> 
          &nbsp; &nbsp; <i class="icon-add"></i> &nbsp;  New Product 
        </button> -->
      </div>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table shadow">
            <thead>
              <tr>
                <th>#</th>
                <th>title</th>
                <th>price</th>
                <th>quantite</th>
                <th>category</th>
                <th>action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of Products">
                <td> {{ item.id }} </td>
                <td> {{ item.title }} </td>
                <td> {{ item.price }} </td>
                <td> {{ item.stock }} </td>
                <td> {{ item.category }} </td>
                <td class="table-action"> 
                    <i class="icon-delete color-danger" (click)="ngDeleteProduct(item)"></i>
                    <!-- <i class="icon-pen color-primary" (click)="ngUpdateProduct(item)"></i> -->
                    <i class="icon-eye color-warning" (click)="ngShowProduct(item)"></i>
                </td>
               </tr>
            </tbody>
        </table>
    </div>
    <product-show [Product]="Product"></product-show>
  </section>