.page-not-found {
    height: 99vh;
    width: 100%;
    .page-content {
        height: 100%;
        width: 100%;
        .container-fluid {
            height: 650px;
            overflow: hidden;
            .content {
                width: 50% !important;
                height: 100% !important;
                &:nth-child(1) {
                    height: 650px !important;
                    flex-direction: column !important;
                    align-items: flex-start;
                    padding-left: 50px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    max-width: auto;
                }
            }
        }
    }
} 