.users-content {
    padding: 10px; 
    .table-action {
        i {
            font-weight: 400;
            font-size: 20px;
            margin: 0 5px;
            cursor: pointer;
        }
    }
}