<main>
    <sidebar></sidebar>
    <main class="main-content">
        <div class="row home-content">
            <section class="col-8">
                <navbar></navbar>
                <category></category>
                <div class="products-items">
                    <product 
                        *ngFor="let Product of Products" 
                        [Product]="Product">
                    </product>
                </div>
            </section>
            <section class="col-4 order-details">
                <panier></panier>
            </section>
        </div>
    </main>
</main>