<aside>
    <div class="sidebar">
        <div class="sidebar-logo">
            <div class="logo d-flex">
                <i class="icon-planet"></i> 
            </div>
        </div>
        <div class="sidebar-items">
            <ul>
                <li> 
                    <a routerLink="/"> 
                        <i class="icon-home"></i>
                    </a> 
                </li>
                <li> 
                    <a routerLink="/users"> 
                        <i class="icon-users"></i>
                    </a> 
                </li>
                <li> 
                    <a routerLink="/orders"> 
                        <i class="icon-shopping"></i>
                    </a> 
                </li>
                <li> 
                    <a routerLink="/auth/logout/account"> 
                        <i class="icon-logout"></i>
                    </a> 
                </li>
            </ul>
        </div>
    </div>
</aside>

