<section class="Modal fade">
    <div class="modal-dialog">
        <div class="modal-content shadow">
            <div class="modal-header d-flex-space">
                <h1 class="title">
                   <i class="icon-users"></i> User Information
                </h1>
                <div class="close-modal">
                    <i class="icon-close" (click)="CloseModal()"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <span> ID : </span> 
                    {{ User.id }}
                </div>
                <div class="col-6">
                    <span> Name : </span> 
                    {{ User.name }}
                </div>
                <div class="col-6">
                    <span> E-mail : </span> 
                    {{ User.email }}
                </div>
                <div class="col-6">
                    <span> Gender : </span> 
                    {{ User.gender }}
                </div>
                <div class="col-6">
                    <span> Password : </span> 
                    {{ User.password[0] }}**********
                </div>
                <div class="col-6">
                    <span> Role </span> 
                    {{ User.role }}
                </div>
                <div class="col-12">
                    <span> Key : </span> 
                    {{ User.Key }}
                </div>
            </div>
            <br>
        </div>
    </div>
</section>