<section class="authentification d-flex-center">
    <div class="container">
        <div class="authentification-content shadow">
            <section class="auth-section d-none">
            </section>
            <section class="auth-section authentification-form">
                <div class="app-logo">
                    <i class="icon-check color-success"></i>
                </div>
                <div class="block-text">
                    <h2> Password Reset </h2>
                    <p>
                        Your password has been successfuly rest,
                        Click below to log in magically.
                    </p>
                </div>
                <form class="auth-form">
                    <button class="btn" (click)="ngOnSubmit()">
                        Continue
                    </button>
                </form>
                <div class="block-text">
                    <div class="d-flex" routerLink="/auth/login">
                        <i class="icon icon-arrow-left text-primary"></i>
                        <a class="link text-primary"> Back to log in </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>