.category-content {
    padding: 10px;
    .category-items {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        .item {
            margin: 0 10px 10px 0px;
            padding: 10px 26px;
            background-color: $white;
            border-radius: 8px;
            cursor: pointer;
            &:hover {
                background-color: $primary;
                color: $white;
            }
        }
    }
}