.input-floating {
    position: relative;
    width: 100% !important;
    margin-bottom: 10px;
    &.checkbox-input {
        width: auto !important;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        input {
            width: auto;
            border: 1px solid $gray-light;
            background-color: $light;
            margin-right: 5px;
        }
        label {
            font-size: 13px;
            font-weight: 400;
        }
    }
    input{
        width: 100%;
        padding: 10px;
        border: 1px solid $gray-light;
        border-radius: 5px;
        outline: none;
        font-size: 13px;
        transition: 0.4s;
        background-color: $light;
        color: $primary;
    }
    label {
        color: $gray-light;
        letter-spacing: 1.3px;
        font-weight: 500;
    }
    span{
        position: absolute;
        left: 0px;
        top: 0px;
        padding: 10px;
        font-size: 15px;
        color: $gray-light;
        pointer-events: none;
        transition: 0.4s;
    }
    i {
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        color: $gray-light;
    }
}

.input-floating input:valid ~ span,
.input-floating input:focus ~ span {
    color: $primary;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65rem;
    font-weight: 600;
    padding: 0 10px;
    background: $white;
    letter-spacing: 0.1rem;
    
}
.input-floating input:valid ~ i,
.input-floating input:focus ~ i {
    color: $primary;
}

.input-floating input:valid,
.input-floating input:focus{
    border: 1px solid $primary;
    color: $gray;
    background-color: $white;
}