.app-logo {
    padding: 12px;
    background-color: $light;
    border: none;
    border-radius: 50%;
    border: 1px solid $gray-light;
    margin-bottom: 20px;
    @include x-large {
        width: 46px;
        height: 50px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include medium {
        width: 40px;
        height: 40px;
    }
    i {
        font-size: 50px;
        pointer-events: none;
        color: $primary;
        @include x-large {
            font-size: 30px;
        }
        @include medium {
            font-size: 25px;
        }
        &.sm {
            font-size: 40px;
        }
    }
}