.alert-components {
    width: auto;
    height: auto;
    position: absolute;
    right: 2% !important;
    top: 2% !important;
    z-index: 10 !important;
    .alert {
        display: none;
        width: 350px;
        height: auto;
        padding: 10px 10px 28px 10px;
        margin: 15px 0px;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.35);
        -webkit-animation-name: popupAlert;
        -webkit-animation-duration: 0.9s;
        animation-name: popupAlert;
        animation-duration: 0.9s;
        .alert-content {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            .alert-icon {
                margin: 0 16px 0 10px;
                padding-top: 5px;
                cursor: pointer;
                i {
                    font-size: 16px;
                    font-weight: 700;
                }
            }
            .alert-description {
                .alert-title {
                    font-size: 15px;
                    font-weight: 600;
                    font-family: 'Roboto';
                    color: $dark;
                }
                .alert-text-content, .alert-time {
                    font-size: 12px;
                    color: $gray;
                    line-height: 20px;
                }
                .alert-text-content {
                    font-weight: 500;
                }
            }
        }
        .alert-close {
            position: absolute;
            right: 4% !important;
            top: 4% !important;
            cursor: pointer;
            color: $gray;
        }
    }
    .progress {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: transparent;
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            animation: progress 7s linear forwards;
        }
    }
    .alert-danger {
        border-left: 4px solid $danger;
        .alert-content {
            .alert-icon {
                cursor: pointer;
                i {
                    color: $danger;
                }
            }
        }
        .progress {
            &:before {
                background-color: $danger;
            }
        }
    }
    .alert-success {
        border-left: 4px solid $success;
        .alert-content {
            .alert-icon {
                cursor: pointer;
                i {
                    color: $success;
                }
            }
        }
        .progress {
            &:before {
                background-color: $success;
            }
        }
    }
    .alert-info {
        border-left: 4px solid $info;
        .alert-content {
            .alert-icon {
                cursor: pointer;
                i {
                    color: $info;
                }
            }
        }
        .progress {
            &:before {
                background-color: $info;
            }
        }
    }
    .alert-warning {
        border-left: 4px solid $warning;
        .alert-content {
            .alert-icon {
                cursor: pointer;
                i {
                    color: $warning;
                }
            }
        }
        .progress {
            &:before {
                background-color: $warning;
            }
        }
    }
    .active {
        display: block !important;
    }
    
    @-webkit-keyframes popupAlert {
        from {
            right: -350px;
        }
        to {
            right: 0;
        }
    }
    @keyframes popupAlert {
        from {
            right: -350px;
        }
        to {
            right: 0;
        }
    }

    @keyframes progress {
        from {
            right: 0%
        }
        to {
            right: 100%;
        }
    }    
}