<section class="authentification d-flex-center">
    <div class="container">
        <div class="authentification-content shadow">
            <section class="auth-section authentification-slicder">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, error. Lorem, ipsum.
            </section>
            <section class="auth-section authentification-form">
                <div class="input-floating">
                    <input type="text" required="required" />
                    <span>Username</span>
                </div>
            </section>
        </div>
    </div>
</section>