<section class="authentification d-flex-center">
    <div class="container">
        <div class="authentification-content shadow">
            <section class="auth-section authentification-slicder">
                <!--  -->
            </section>
            <section class="auth-section authentification-form">
                <div class="app-logo">
                    <i class="icon-planet"></i>
                </div>
                <div class="block-text">
                    <h2> Hello Again! </h2>
                    <p>
                        Welcome to <span>Bella Marina</span>,
                        Please enter your credentials to acces your account.
                    </p>
                </div>
                <form class="auth-form">
                    <div class="input-floating">
                        <input type="text" required/>
                        <span> E-mail </span>
                        <i class="icon-email"></i>
                    </div>
                    <div class="input-floating">
                        <input type="password" required/>
                        <span> Password </span>
                        <i class="icon-lock"></i>
                    </div>
                    <div class="auth-link">
                        <div class="input-floating checkbox-input">
                            <input type="checkbox" id="checkbox" required/>
                            <label for="checkbox"> Remenber Me!</label>
                        </div>
                        <label class="link"> Recovery Password </label>
                    </div>
                    <br>
                    <button class="btn">
                        Login
                    </button>
                </form>
            </section>
        </div>
    </div>
</section>