.table {
    border-collapse: collapse;
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: units(10, 'px');
    th {
        padding: units(15, 'px');
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 0.7rem;
        font-weight: 900;
    }
    td {
        padding: units(12, 'px') units(12, 'px');
        font-size: units(12, 'px');
    }
}

.bg-dark {
    background-color: $dark;
    th {
        color: $white;
    }
}

.bg-secondary {
    background-color: $light;
    th {
        color: $dark;
    }
}
.bg-light {
    background-color: $light;
    color: $primary;
}

.table-bordered {
    tr:nth-child(even) {
        background-color: $light;
    }
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        height: units(3, 'px');
        background-color: $white;
        color: $dark;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $dark;
        height: units(3, 'px') !important;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: $dark; 
        height: units(3, 'px') !important;
    }
}
  
@media (max-width: units(575.98, 'px')) {
    .table-responsive-sm {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
@media (max-width: 767.98px) {
    .table-responsive-md {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
@media (max-width: units(991.98, 'px')) {
    .table-responsive-lg {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
@media (max-width: units(1199.98, 'px')) {
    .table-responsive-xl {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
@media (max-width: units(1399.98, 'px')) {
    .table-responsive-xxl {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@include x-large{
    .table {
        thead {
            th {
                font-size: units(10, 'px');
                min-width: units(10, 'px');
            }
        }
        tbody {
            td {
                font-size: units(11, 'px');
                min-width: units(180, 'px');
            }
        }
    }
}