<form *ngIf="showAddTsk" (ngSubmit)="onSubmit()">
    <div>
        <label for="text"> Task </label>
        <input type="text" id="text" placeholder="Task" name="text" [(ngModel)]="text">
    </div>
    <div>
        <label for="day"> Day && Time </label>
        <input type="text" id="day" placeholder="Day && Time" name="day" [(ngModel)]="day">
    </div>
    <div>
        <label for="reminder"> Set Reminder</label>
        <input type="checkbox" id="reminder" name="reminder" [(ngModel)]="reminder">
    </div>
    <div>
        <input type="submit" value="Save Task" class="btn btn-block">
    </div>
</form>